<!-- @dsCard group="Components" viewport="700x120" name="Input" subtitle="Text field" -->
<link rel="stylesheet" href="../../styles.css">
<script src="https://unpkg.com/react@18.3.1/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/@babel/standalone@7.29.0/babel.min.js" crossorigin></script>
<script src="../../_ds_bundle.js"></script>
<div id="root" style="padding:24px;background:var(--color-bg);max-width:320px"></div>
<script type="text/babel">
const { Input } = window.JAMShopifyDesignSystem_f8de83;
ReactDOM.createRoot(document.getElementById('root')).render(<Input placeholder="유저 검색" />);
</script>
